



<a href="https://jawbone.com/auth/oauth2/token?client_id=7NkRJA8m8sg&client_secret=59f2f3e8915b065113d9e54a76eda13672066004&grant_type=authorization_code&scope=basic_read+extended_read+location_read+move_read&code">get code</a>

<form>
<!--aac3f063d18489fc2e3fa3dabbd5c01a120fa450CHAVEANTIGA>

<section>
<div id ="username">
<h1>Username: <input type="text" name="userid"/></h1>
</div>

<div id ="username">
<h1>Password: <input type="password" name="pswrd"/></h1>
</div>
</section>

<input type="button" onclick="check(this.form)" value="Login"/>
<input type="reset" value="Cancel"/>
</form>
<script language="javascript">
function check(form)/*function to check userid & password*/
{
 /*the following code checkes whether the entered userid and password are matching*/
 //if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd")
  //{
    window.open('https://jawbone.com/auth/oauth2/auth/response_type=code')/*opens the target page while Id & password matches*/
  //}
 //else
 //{
  // alert("Error Password or Username")/*displays error message*/
  //}
}

