<!DOCTYPE HTML>
<center>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#username {
    text-align:center;
    padding:5px;
    float: center;
}
#password {
    text-align:center;
    padding:5px;
}

section {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}
</style>
</head>
<body>

<!--
<form action="https://jawbone.com/auth/oauth2/auth" method="post" target="_blank">
  <input type="hidden" value="code" name="response_type">
  <input type="hidden" value="pagno" name="client_id">
  <input type="hidden" value="sleep_read" name="scope">
  <input type="hidden" value="index.html" name="redirect_uri">
  <input type="submit" value="Submit">
</form>
-->
<a href="https://jawbone.com/auth/oauth2/token?client_id=0NIN0D_htj0&client_secret=aac3f063d18489fc2e3fa3dabbd5c01a120fa450&grant_type=authorization_code&scope=basic_read+extended_read+location_read+move_read&code">get code</a>

</body>
</html>
</function>
</center>
