
<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'files' %>
<% end %>


<!--
<form>


<section>
<div id ="username">
<h1>Username: <input type="text" name="userid"/></h1>
</div>

<div id ="username">
<h1>Password: <input type="password" name="pswrd"/></h1>
</div>
</section>

<input type="button" onclick="check(this.form)" value="Login"/>
<input type="reset" value="Cancel"/>
</form>
<script language="javascript">
function check(form)/*function to check userid & password*/
{
 /*the following code checkes whether the entered userid and password are matching*/
 //if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd")
  //{
    window.open('https://jawbone.com/auth/oauth2/auth/response_type=code')/*opens the target page while Id & password matches*/
  //}
 //else
 //{
  // alert("Error Password or Username")/*displays error message*/
  //}
}
-->
