

<!DOCTYPE html>
<html>
<body onload="myFunction()">

<input type="file" id="myFile" multiple size="50" onchange="myFunction()">

<p id="info"></p>
    
<script>
function myFunction(){
    var x = document.getElementById("myFile");
    var txt = "";
    if ('files' in x) {
        if (x.files.length == 0) {
            txt = "Select one or more files.";
        } else {
        	$.post("http://nedel.cloudapp.net/uploadFile");
            for (var i = 0; i < x.files.length; i++) {
                txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                var file = x.files[i];
                if ('name' in file) {
                    txt += "name: " + file.name + "<br>";
                }
                if ('size' in file) {
                    txt += "size: " + file.size + " bytes <br>";
                }
            }
        }
    } 
    else {
        if (x.value == "") {
            txt += "Select one or more files.";
        } else {
            txt += "The files property is not supported by your browser!";
            txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
        }
    }
    document.getElementById("info").innerHTML = txt;


}



</script>

<p><strong>Tip:</strong> Use the Control or the Shift key to select multiple files.</p>

</body>
</html>
<!--
<form>


<section>
<div id ="username">
<h1>Username: <input type="text" name="userid"/></h1>
</div>

<div id ="username">
<h1>Password: <input type="password" name="pswrd"/></h1>
</div>
</section>

<input type="button" onclick="check(this.form)" value="Login"/>
<input type="reset" value="Cancel"/>
</form>
<script language="javascript">
function check(form)/*function to check userid & password*/
{
 /*the following code checkes whether the entered userid and password are matching*/
 //if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd")
  //{
    window.open('https://jawbone.com/auth/oauth2/auth/response_type=code')/*opens the target page while Id & password matches*/
  //}
 //else
 //{
  // alert("Error Password or Username")/*displays error message*/
  //}
}
-->
