h1 Hello!

p Demo will be here!

.gogo

javascript:
  var data = {
    max_activity: 100,
    activities: [
      'sleep', 'sleep', 'sleep', 'sleep', 'sleep', 'sleep',
      21, 27, 20, 26, 23, 62, 65, 25, 35,
      28, 17, 31, 65, 88, 29, 25, 12, 'sleep'
    ],
    max_luminosity: 100,
    luminosity: [
      0, 0, 0, 0, 0, 0, 8, 18,
      11, 14, 11, 51, 54, 10, 13,
      13, 8, 16, 44, 77, 19, 10,
      11, 0
    ],
    sunrise: new Date(0, 0, 0, 5, 58),
    sunset: new Date(0, 0, 0, 18, 29)
  }

  clock('.gogo', data);