h1 Smada#dados

- @dados.each_with_index do |sensor_data, index|
  div[class="smada-dados-#{index}" data-info="sensor_data.to_json"]
  javascript:
    var idx = "#{index}";
    var xaxis = ['x'];
    var yaxis = ['dados'];

    var data = d3.select(".smada-dados-" + idx).data("info");
    data.forEach(function(d) {
      xaxis.push(new Date(d.timestamp));
      yaxis.push(+d.payload);
    });

    var chart = c3.generate({
      bindto: d3.select(".smada-dados-" + idx),
      size: {
        height: 180
      },
      data: {
        x: 'x',
        columns: [xaxis, yaxis],
        type: 'line'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: 'dd/mm/yy - %H:%M'
          }
        }
      }
    });
