.center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.content {
  margin: 24px;
}

header {
  height: 60px;
  line-height: 58px;
  background-color: #333;
  color: #aaa;
  margin-bottom: 12px;

  a:hover {
    color: #eee;
  }
  
  .nav-menu {
    padding: 0 16px;
  }
  .user-menu {
    padding: 0 16px; 
  }
}
