.daily-clock {
  .outline-arc {
    fill: none;
    stroke: #000;
    stroke-width: 2;
  }

  .luminosity-arc {
    
  }

  .clock-label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: gray;
    fill: gray;
  }
}
