.clock {
  position: relative;
}

.clock-arcs {
  font-family: Arial, sans-serif;
  font-weight: bold;

  .outline-arc {
    fill: none;
    stroke: #000;
    stroke-width: 2;
  }

  .clock-label {
    color: gray;
    fill: gray;
  }

  .clock-date {
    font-size: 26px;
    color: gray;
    fill: gray;
  }

  .highlight {
    fill: rgba(192, 96, 192, 0.5);
  }
}

.slice-info {
  position: absolute;
  z-index: 10;
  border: 2px solid #999;
  border-radius: 12px;
  background-color: #ddd; 
  top: 0;
  padding: 8px;

  .ajax-error {
    background-color: #faa;
  }

  .graph {
    font-size: 10px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .area {
    fill: steelblue;
  }
}

.clock-tooltip { 
    position: absolute;
    text-align: center;
    width: 120px;
    height: 40px;
    line-height: 38px;
    padding: 8px;
    font: 12px sans-serif;    
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
