
#título{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    font-size: 30px;
}
#links{
    text-align:center;
    padding:5px;
    font-size: 30px;
}