

<div id="título">
JawBone Authentication
</div>

<div id="links">
<a href="https://jawbone.com/auth/oauth2/auth?redirect_uri=http://nedel.cloudapp.net/&client_id=7NkRJA8m8sg&response_type=code&scope=basic_read%20extended_read%20location_read%20move_read%20sleep_read%20weight_read%20generic_event_read%20heartrate_read">Authorize Jawbone</a>
</div>
<!--
<form>


<section>
<div id ="username">
<h1>Username: <input type="text" name="userid"/></h1>
</div>

<div id ="username">
<h1>Password: <input type="password" name="pswrd"/></h1>
</div>
</section>

<input type="button" onclick="check(this.form)" value="Login"/>
<input type="reset" value="Cancel"/>
</form>
<script language="javascript">
function check(form)/*function to check userid & password*/
{
 /*the following code checkes whether the entered userid and password are matching*/
 //if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd")
  //{
    window.open('https://jawbone.com/auth/oauth2/auth/response_type=code')/*opens the target page while Id & password matches*/
  //}
 //else
 //{
  // alert("Error Password or Username")/*displays error message*/
  //}
}
-->
